*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading-container,
.input-container {
  text-align: center;
}
.heading-container {
  margin-block: 10px;
  color: #ffc300;
}
.heading-container h1 {
  font-size: 36px;
  text-decoration: underline;
}
.input-container {
  color: #ffd60a;
  font-size: 20px;
}
.grid-container {
  width: 95%;
  margin: 40px auto;
  max-width: 575px;
  min-height: 575px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.square {
  background-color: white;
  border: 1px solid black;
}
